.factclass{
    color: white;
    background-color:rgb(34, 0, 78);
  
	transition: background-color 0.5s, -webkit-background-color 0.5s, transform 0.5s, -webkit-transform 0.5s; /* Animation */
}
.factclass:hover {
    background-color:rgb(49, 0, 112);
    -webkit-transform: scale(1.02);
	        transform: scale(1.02);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.facts::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .facts {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }