<!DOCTYPE html>
<html lang="en">
<head>
  <title>100 Years Ago, Today</title>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body style="font-family: 'Crimson Text', serif; height:100%; background-color:darkblue;">
 
  <header class="d-flex align-items-center justify-content-center bg-black" style="height:15vh;">
    <h2 class="text-light">100 Years Ago, on {{mm}} {{dd}}, {{yy}}</h2>
  </header>
  <div class="d-flex flex-row">
    <div class="w-100 border border-primary" style="min-height:77vh; background-color:rgb(6, 2, 39);">

      <app-events></app-events>
    </div>
    <div class="w-100 border border-primary" style="min-height:77vh; background-color:rgb(6, 2, 39);">

      <app-birthdays></app-birthdays>
    </div>
    <div class="w-100 border border-primary" style="min-height:77vh; background-color:rgb(6, 2, 39);">

      <app-misc></app-misc>
    </div>
  </div>
  <footer class="d-flex align-items-center justify-content-center bg-black w-100" style="height:8vh; position:absolute; bottom:0px;">
    <h5 class="text-light">Made By <a href="https://github.com/BombyHacc" style="text-decoration: none; color: white;">Utkarsh</a></h5>
  </footer>
</body>
</html>