.invalidsize{
    display: none;
    min-height: 100vh;
   
}

@media (max-width: 985px) {
    .invalidsize{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
        background-color: black;
    }
    app-root{
        display:none;
    }
  }